body {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

button {
  width: 20%;
  border-radius: 25px;
  border: none;
  background-color: #e0e0e5;
  padding: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: grey;
  font-weight: 600;
  margin-top: 25px;
}

input {
  border: 1px dotted grey;
  padding: 10px;
  font-size: 1.2em;
}

label {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  margin-top: 25px;
}

div {
  margin: 0 auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

ul li {
  text-transform: capitalize;
}
